@{
    ViewData["Title"] = "Rooms";
}

<div class="bg-img-1">
	<div class="bg-overlay ">
		<div class="container">
			<img src="https://cdn.discordapp.com/attachments/991709979021160488/1193945277397205002/logo.png?ex=65ae8f30&is=659c1a30&hm=704a8f1e80ae11dae0a105e786ce0d75a90acbe4d296f3b88bac7d78f8c03a5c&" alt="Hotel Image" style="display: block; margin: auto; width: 20%;">
			<h1 style="text-align: center; font-family: Serif">Hotel JZ</h1>
		</div>
	</div>
</div>

<br>