@{
    ViewData["Title"] = "Casino";
}

<div class="bg-img-1">
	<div class="bg-overlay ">
		<div class="container">
			
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="animate-charcter"> C A S I N O</h3>
					<h4>WHERE YOUR DREAMS COME TRUE</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="container min-h-50vh">
	<h2>O kazinoju</h2>
	<h3>Edini v Sloveniji</h3>
</div>


