@{
    ViewData["Title"] = "Casino";
}

<div class="bg-img-1">
	<div class="bg-overlay ">
		<div class="container">
			
			<div class="row">
				<div class="col-md-12 text-center">
					<h3 class="animate-charcter"> C A S I N O</h3>
					<h4>WHERE YOUR DREAMS COME TRUE</h4>
				</div>
			</div>
		</div>
	</div>
</div>

<br>

<div class="container min-h-50vh">
	<h2>About CasinoJZ</h2>
	<h3>The only one in Slovenia!</h3>
	<p>CasinoJZ Group Slovenia combines top-notch services in gaming, hospitality, gastronomy, and entertainment. Today, CasinoJZ Slovenia boasts 10 gaming parlors, 3 hotels, and 4 restaurants at various locations across Slovenia.

In the past two years, we have renovated, upgraded, and modernized each of these gaming parlors. CasinoJZ Slovenia has set the highest standards for its united gaming parlors in the gaming industry and has aimed at enhancing the Slovenian tourism offering. In addition to continuous investment in the appearance of our locations, we also pay special attention to investing in the professional development of our more than 300 employees, believing that a company can only be as successful as the people who make it up.

If you're looking for a fun getaway or an exciting gamble, CasinoJZ offers an escape into a world of fun, unexpected outcomes, and adrenaline rush. In our gaming parlor, you can also participate in various prize games, slot machine tournaments, and special promotions.</p>
<div style="text-align: center;">
	<br>
    <img src="https://cdn.discordapp.com/attachments/991709979021160488/1196814077448683520/DALLE_2024-01-16_14.51.42_-_a_vibrant_image_of_a_casino_slot_machine_displaying_a_jackpot_win_with_the_symbols_7_7_7_lined_up._The_slot_machine_is_colorful_and_flashy_with_brigh.png?ex=65b8fef7&is=65a689f7&hm=5e9aa9c8ceebb19bd36dbd7c09b6478d9fdb6d37fd6e55eaa6868ea0ec24bdc7">
</div>

</div>


