.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    
}  

h1{
    color: white;
    font-size: 60px;
}

.bg-overlay{
    background-color: #00000080;
    min-height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
}


.bg-img-1{
    background-image: url("https://cdn.discordapp.com/attachments/991709979021160488/1193570081565843516/DALLE_2024-01-07_13.59.52_-_A_luxurious_hotel_room_from_a_different_angle_reflecting_the_same_opulent_style_as_the_lobby_with_warm_lighting._This_view_highlights_a_cozy_seating.png?ex=65ad31c2&is=659abcc2&hm=36cd80739132bf59478578fac77f7af5a0e90f7ad822ad4e27bc47fa344cb810&");
    background-position: center;
    background-attachment: fixed;
}


.bg-img-2{
    background-image: url("https://cdn.discordapp.com/attachments/991709979021160488/1193570084967432212/DALLE_2024-01-07_13.57.07_-_A_very_luxurious_hotel_lobby_at_night_with_high_detail_and_warm_lighting._The_scene_includes_opulent_decor_such_as_marble_floors_grand_chandeliers_a.png?ex=65ad31c3&is=659abcc3&hm=33b3d0b17c92040a4b776d2055aa20b097f06ffa1585d468918163743bbcb2cd&");
    background-position: center;
    background-attachment: fixed;
}

.bg-img-3{
    background-image: url("https://cdn.discordapp.com/attachments/991709979021160488/1193570084128563240/DALLE_2024-01-07_13.57.45_-_A_very_luxurious_hotel_lobby_at_night_with_a_casino_area_featuring_high_detail_and_warm_lighting._The_lobby_includes_opulent_decor_such_as_marble_flo.png?ex=65ad31c3&is=659abcc3&hm=3d8b9a3c9b546d641c116b430a35a3d9650489794db7534986ce5647524a01f9&");
    background-position: center;
    background-attachment: fixed;
 }



.min-h-50vh{
    min-height: 50vh;
}

.mySlides {
    display: none;
  }

  .caption {
    text-align: center;
  }